<section class="formulaire active" id="login">
    <div class="background-image"></div>
    <div class="container">
        
        <div class="row justify-content-end align-items-center h-100">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow">
                    <div class="card-body p-5">
                        <div class="text-center mb-4 section-title padd-15">
                            
                            <h2>Login</h2>
                            <p style="color: lightslategray; text-align: center;">
                                Please enter your login details
                            </p>
                        </div>
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="row g-3 floating-wrapper">
                            <div class="col-12" >
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="floatingInput22" type="email" placeholder="name@example.com"
                                        formControlName="email" name="email" />
                                    <label for="floatingInput22">Email address</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input class="form-control" id="floatingPassword" type="password" placeholder="Password"
                                        formControlName="password" name="password" />
                                    <label for="floatingPassword">Password</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn"   type="submit" [disabled]="isDisabled">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
