<p-table [value]="AllTruckes" [rowHover]="true">
	<ng-template pTemplate="header">
	  <tr>
		<th>Numéro du commande</th>
		<th>Type</th>
		<th>Immatricule</th>
        <th>status</th>
		



	  </tr>
	</ng-template>
	
	<ng-template pTemplate="body" let-delivery>
	  <tr>
		<td>{{ delivery.truckNumber }}</td>
		<td>{{ delivery.type }}</td>
		<td>{{ delivery.licensePlate }}</td>
        <td>{{ delivery.status }}</td>
		

		<td class="text-center">
			<div class="btn-group" role="group" style="display: inline-block;">
			  <button class="btn " (click)="deleteTrucks(delivery.id)">Delete</button>
			  <button class="btn " [routerLink]="['../detail',delivery.id]">Detail</button> 
			  <!-- <button class="btn " [routerLink]="['../edit',member?.id]">Edit</button> -->
			</div>
		  </td>
	  </tr>
	</ng-template>
  </p-table>
  