<div class="main-container">
  <!-- Navbar -->
  <!-- Navbar -->
<nav class="navbar">
  <div class="container">
    <!-- Website Name on the Left -->
    <span class="site-name">MonSite</span>
    <!-- Buttons on the Right -->
    <div class="buttons">
      <button class="btn login" routerLink="/login">Login</button>
      <button class="btn signup" routerLink="/signup">Sign Up</button>
    </div>
  </div>
</nav>


  <div class="content">
    <div class="gif-container">
      <img src="assets/img/truck_gif.gif" alt="GIF Image" class="gif-image" />
    </div>
    <div class="description-container">
      <h1 style="color: #033972;">Bienvenue sur notre plateforme de suivi des livraisons. Votre efficacité, notre priorité !</h1>
      <h2 class="description">
        Une solution simple et rapide pour suivre vos livraisons en toute sérénité, Gagnez en tranquillité d'esprit en suivant vos envois avec précision.
      </h2>
      <button class="btn" style="background-color: #033972" routerLink="/signup">Sign Up Now</button>

    </div>
    
  </div>
  
</div>

